<div class="container py-5">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Welcome <%= @user.name.titleize if @user.name %></h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">Your current information</h5>
      <p class="card-text">Name: <%= @user.name.titleize if @user.name %></p>
      <p class="card-text">Lastname: <%= @user.lastname.titleize if @user.lastname %></p>
      <p class="card-text">Email: <%= @user.email if @user.email %></p>
      <%= link_to 'Edit Account', edit_user_registration_path(@user.id), class: "btn btn-outline-primary" %>
      <%= link_to 'Delete Account', user_registration_path, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>

  <div class="mt-5">
    <div class="d-flex flex-wrap justify-content-around">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">Publish Property</h3>
          <div class="py-5">
            <%= link_to 'Add', new_property_path, class: "btn btn-outline-success p-3" %>
          </div>
        </div>
      </div>
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">Find a Property</h3>
          <div class="py-5">
            <%= link_to "Let's see", properties_path, class: "btn btn-outline-warning p-3" %>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>